:root {
    --font-color: #333;
    --font-color-secondary: #999;
    --bg-color: #fafafa;
    --space: 8em;
    --space-half: calc(var(--space) / 2)
}

body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    min-width: 1300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}

a {
    color: var(--font-color);
}

a:visited {
    color: var(--font-color-secondary)
}

.page-header {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: var(--space);
}

.navigation__logo {
    width: 120px;
}

.navigation__item {
    margin-left: 1em;
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
}

.navigation__item:hover {
    color: var(--font-color-secondary)
}

.page-header__heading {
    margin-top: 4em;
    font-size: 1em;
    letter-spacing: 1.2em;
}

.hero-image {
    display: block;
    width: 100%;
    min-height: 400px;
    max-height: 32vw;
    margin-top: var(--space);
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space);
}

.description__text {
    max-width: 76ch;
}

.description__text_bold {
    font-weight: bold;
}

.description__map {
    display: block;
    margin: var(--space) 0;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.description__info-link {
    display: block;
    padding: 1em 4em;
    margin-top: var(--space);
    border: 5px solid #ccc;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-color);
}

.video {
    margin-top: var(--space);
    display: flex;
    justify-content: space-around;
}

.location {
    margin: 0 auto;
    margin-top: var(--space);
    max-width: 76ch;
}

.location__disclaimer {
    color: var(--font-color-secondary);
}

.tickets {
    max-width: 1200px;
    margin: var(--space) auto 0;
    display: flex;
    justify-content: space-between;
}
.tickets__text {
    max-width: 76ch;

}
.tickets__map {
    width: 40%;
    object-fit: contain;
    margin-left: 10%;
}

.transfer {
    margin: var(--space) auto 0;
    max-width: 76ch;
}

.transfer__text-spaced {
    margin-top: var(--space-half);
}

.rules {
    max-width: 1200px;
    margin: var(--space) auto 0;
}

.rules__heading {
    font-size: 1.6em;
}

.rules-list {
    margin-top: var(--space-half);
    display: flex;
    justify-content: space-between;
}

.rules-list > div {
    width: 30%;
}

.rule-time:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/time.svg);
    background-size: contain;
}

.rule-wc {
    margin-top: var(--space-half);
}

.rule-wc:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/wc.svg);
    background-size: contain;
}

.rule-equip {
    margin-top: var(--space-half);
}

.rule-equip:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/equip.svg);
    background-size: contain;
}

.rule-hot {
    margin-top: var(--space-half);
    margin-left: 4em;
}

.rule-hot:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/hot.svg);
    background-size: contain;
}

.rule-fire {
    margin-top: var(--space-half);
    margin-left: 8em;
}

.rule-fire:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/fire.svg);
    background-size: contain;
}

.rule-silence:before {
    content: "";
    display: block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    background-image: url(img/icons/silence.svg);
    background-size: contain;
}

.merch {
    max-width: 1200px;
    margin: var(--space) auto 0;
}

.merch-list {
    margin-top: var(--space);
    display: flex;
    justify-content: space-between;
}

.merch-list__item {
    display: block;
    max-width: 20%;
    object-fit: contain;
    transition: 0.2s;
}

.merch-list__item:hover {
    transform: scale(1.6);
}

.page-footer {
    display: flex;
    justify-content: space-around;
    margin-top: var(--space);
    padding: var(--space) 10%;
    background-color: #e1e1e1;
}

.page-footer__logo {
    width: 240px;
    height: auto;
}